
.tittel{
  font-family:Lato, sans-serif;
  font-size: 50px;
  text-align: center;

}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;


}

li {
display: inline-block;
  float: center;
  b


}

li a{

  color: black;
  text-align: center;
  padding: 20px;
  text-decoration: none;

}

li a:hover{
  background-color:;
}


.innhold{
  text-align: center;
}
.imgkim {
  display: block;
    margin-left: auto;
    margin-right: auto;

}
.rostercontainer{
  width: 80%;
  margin: 100px auto;
  overflow: hidden;
}
.rosterimages{
  float: left;
  margin:  2% 10% 50px 2%;
  width: 20%;




}

.rosterimages img{
  max width: 10%;
  -webkit-border-radius: 10px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 250px;


  object-fit: contain;


}
